fitsio==0.9.11
requests_oauthlib==1.0.0
marshmallow==2.15.3
ephem==3.7.6.0
scikit-sparse==0.4.2
corner==2.0.1
numexpr==2.6.2
astropy==5.3.3
runipy==0.1.5
menpo==0.8.1
acor==1.1.1
line_profiler==2.1.2
jplephem==2.7
numdifftools==0.9.20
numpy==1.16.6
pdat==0.1.4
